html, body {
    background-image: var(--witch-main-background);
}

 
   .witch-house-page {
    height: 100%;
    background-image: var(--witch-main-background);
    background-repeat: repeat;
    background-attachment:fixed;
    cursor: var(--main-cursor), pointer;
  }

  .witch-link{
    text-align: center;
    color: white;
    font-family: Abbadon;
    font-size: large;
    cursor: var(--pointer-cursor), pointer;

  }
  
  .witch-link-small{
    text-align: center;
    color: white;
    font-family: LCD5;
    font-size: 12px;
    cursor: var(--pointer-cursor), pointer;
    margin: 3px;

  }
 .witch-link:hover,.witch-link-small:hover{
    text-decoration: underline;
    color: #8a0303;
    cursor: var(--pointer-cursor), pointer;
    
  }


.info {
/*    width: 1024px;
    min-width: 800px;
 !*максимальная ширина может иметь другое значение*!
    padding: 0 15px;
    margin: 0 auto;
    overflow-x: hidden;
    background-image: url("resources/black.jpg");
    background-repeat: repeat;*/
}

.container {
    width: 95%;
    margin: 0 auto;
/*    background-image: url("resources/stars5.gif");
    background-repeat: repeat;*/
}

.info-text {
    font-family: LCD5;
    font-size: 15px;
    color: white;
    padding: 20px;
    text-align: justify;

}

.info-text h1 {
    font-family: LCD5;
    font-size: 30px;
    text-align: center;

}


.info-section {
    /*padding: 0 15px;*/
}
/* A media query for a large screen */
@media (min-width: 1170px) {
    .container {
        max-width: 1000px;
    }
}

div.vv17ch {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 120px;
    margin:6px;
    vertical-align: 'center';
}
.vv17chImg {
    display: block;
    width: 100px;
    height: 100px;
    margin:auto;
    object-fit: contain;
    cursor: var(--pointer-cursor), pointer;
}
.vv17ch-caption {
    display: block;
    color: white;
    margin:auto;
}

.vv17ch-container {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.music-container {
    display: flex;
}

.info-container{
    background: black;
    box-shadow: 0 0 20px black;
}

.head-container{
    background-image: url("resources/smoke.gif");
    background-repeat: repeat;
    box-shadow: 0 0 20px black;
}

.header-section{
}

