$time: 0.3s;
$border: 1px;
$border-radius: 5px;
$chip-color: #FCF97AFF;

.simple-tab-list {
  font-size: 20px;

  li {
    text-align: left;
    font-size: 16px;
    font-family: "LCD5";
    cursor: pointer;
  }

  &.selected .icon {
    opacity: 1;
  }

  .icon {
    opacity: 0;
  }
}

.simple-tab-bar-line {
  display: table;
  width: 100%;
  table-layout: fixed;

  .simple-tab-line {
    display: table-cell;
    text-align: center;
    background-color: #2b003d;
    color: white;
    border-left: solid 1px gray;
    letter-spacing: -3px;
    font-size: smaller;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.selected {
      text-decoration: underline;
    }
  }
}

.simple-tab-bar {
  display: flex;
  color: var(--box-header-text-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .simple-tab {
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    text-align: center;
    width: 50%;
    background: inherit;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all $time;
    font-size: 15px;
    font-family: dot, serif;

    &::before {
      position: absolute;
      content: "";
      border-bottom: none;
      opacity: 0;
    }

    &:hover img {
      box-shadow: 0 0 25px white, 0 0 25px white;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: rgba(255, 255, 255, 0.5);
      cursor: pointer;
    }

    &.selected img {
      box-shadow: 0 0 25px white, 0 0 25px white;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: rgba(255, 255, 255, 0.5);
    }


    .icon {
      color: inherit;
      z-index: 10;
      display: inherit;

      img {
        margin: auto;
      }
    }
  }
}

.simple-content {
  width: 100%;
  height: 100%;
  display: none;
}

.simple-active-content {
  display: block;
}


button {
  border: none;
}

@media (max-width: 1000px) {}

@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f0f, 0 0 40px #0ff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}