.text-background p {
    //background-image: url("../../witchhouse-music-website/resources/images/blood-forest.gif");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue', 
                    helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    margin: 0 20px;
    display: inline-block;
}
.text-rotated{
    display: inline-block;
    transform: rotate(180deg);
}

.header-with-bg {
    margin: 0 auto;
    max-width: 900px;
    font-size: 100px;
}

.text-background-radost {
    background-image: url("../../witchhouse-music-website/resources/images/blood-forest.gif");
    font-size: 120px;
}
.text-background-tubfuck {
    background-image: url("../../witchhouse-music-website/resources/images/blood.gif");
    font-size: 120px;
}
.text-background-cain {
    background-image: url("../../witchhouse-music-website/resources/images/water.gif");
    font-size: 220px;
}
@media only screen and (max-width: 900px) {
    .text-background-radost, .text-background-tubfuck {
        font-size: 60px;
    }
    .text-background-cain {
        font-size: 130px;
    }
    .text-background-cain .text-rotated{
        font-size: 130px;
    }
    .text-rotated{
        font-size: 60px;
    }
    .header-with-bg {
        max-width: 700px;
        font-size: 60px;
    }
}