.main-page {
    background-image: var(--main-background);
    background-repeat: repeat;
    overflow-x: hidden;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: dot, serif;
    box-sizing: border-box;

}

center {
    text-align: center;
}

.header img {
    border-top: 0px;
}

.title h1, .title h2, .title h3 {
    padding: 0;
    margin: 0;
    color: white;
}

.main-container {
    /*    max-width: 920px;*/
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.sidebar-left {
    margin-left: 10px;
    order: 1;
}

.sidebar-right {
    order: 3;
}

aside {
    width: 230px;
    padding: 20px;
    font-size: smaller;
}

.main {
    flex: 1;
    padding: 20px;
    order: 2;
    max-width: '60%';
}
.links {
    margin-top: 1em;
}


.main-container {
    color: var(--box-text-color);
}

.box {
    border: 3px double #333;
    background: var(--box-background);
    background-repeat: repeat;
    padding: 0;
    margin: 10px 0px 15px 0px;

}

.box-empty {
    margin: 10px 0px 15px 0px;

}

.box-weather {
    background: url("../common/images/backgrounds/leaffall.gif") no-repeat;

}

.header {
    border: 3px double #333;
    background: linear-gradient(rgb(251, 220, 220, 0.75), rgb(251, 220, 220, 0.75));
    text-align: center;
    margin-top: 15px;
    top: 0;
    height: auto;
    color: white;
}

.box img {
    max-width: 100%;
    height: auto;
}

.title { /*suppress title, since we're putting the title as text in the header box*/
    display: none;
}

.box h1, .box h2, .box h3, .box h4 {
    background: var(--box-header-color);
    margin: 0;
    padding: 0.35em 0.25em 0.3em 0.25em;
    text-align: center;
    border-bottom: 3px double #333;
    color: white;
}

.box .box-header {
    background-color: var(--box-header-color);
    margin: 0;
    text-align: center;
    color: white;
    border-bottom: 3px double #333;
}

.inner {
    padding: 0.25em 1em 0.3em 1em;
    font-size: 1.075em;
}



@media only screen and (max-width: 900px) {
    .flex-container {
        flex-wrap: wrap;
        horiz-align: center;
        margin: auto 0;
        justify-content: center;
    }

    .main {
        flex-basis: 70%;
        order: 0;
        font-size: 0.7em;
    }

    .sidebar-left {
        flex-basis: 48%;
        margin: 0;
    }

    .sidebar-right {
        flex-basis: 52%;
        margin: 0;
    }
}

footer {
    background-color: #13092D;
    /* background color for footer */
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    /* this centers the footer text */
}

.updates-list {
    height: 110px;
    overflow-y: scroll;
}

.copy-button {
    width: 88px;
    font-size: 10px;
    background-color: white;
    color: black;
    height: 31px;
}

.buttons img{
    width: 88px;
    height: 31px;
}

