body
{
    background-image: url("resources/nurple-static-bright.gif");
    background-repeat: repeat;
    overflow-x: hidden;
    background-attachment:fixed;
}

.name{
    text-align: center;
}

.name img {
    max-width: 100%;
    /*border-radius: 10px;*/
    /*box-shadow: 4px 4px 3px 1px #00000085;*/
    margin: 30px;
    /*transition:box-shadow 0.5s ease-in-out;*/
    object-fit:cover;
}

.p {
    height:200px;
    width:166px;
}

.l {
    height:200px;
    width:300px;
}

.s {
    height:400px;
    width:400px;
}

.info {
/*    width: 1024px;
    min-width: 800px;
 !*максимальная ширина может иметь другое значение*!
    padding: 0 15px;
    margin: 0 auto;
    overflow-x: hidden;
    background-image: url("resources/black.jpg");
    background-repeat: repeat;*/
}

.container {
    width: 95%;
    margin: 0 auto;
/*    background-image: url("resources/stars5.gif");
    background-repeat: repeat;*/
    background: black;
}

.info-text {
    font-family: "Rubik Wet Paint", serif;
    font-size: 18px;
    color: white;
    padding: 15px;
    text-align: justify;
}


.info-section {
    /*padding: 0 15px;*/
}
/* A media query for a large screen */
@media (min-width: 1170px) {
    .container {
        max-width: 1370px;
    }
}

div.vv17ch {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 120px;
    margin:auto;
}
.vv17chImg {
    display: block;
    width: 100px;
    height: 100px;
    margin:auto;
}
.vv17chCaption {
    display: block;
    color: white;
    margin:auto;
}

.vv17chContainer {
    display: flex;
    justify-items: center;
    justify-content: center;
}
