body
{
    background-image: url("resources/nurple-static-bright.gif");
    background-repeat: repeat;
    overflow-x: hidden;
    background-attachment:fixed;
}


.info {
/*    width: 1024px;
    min-width: 800px;
 !*максимальная ширина может иметь другое значение*!
    padding: 0 15px;
    margin: 0 auto;
    overflow-x: hidden;
    background-image: url("resources/black.jpg");
    background-repeat: repeat;*/
}

.container {
    width: 95%;
    margin: 0 auto;
/*    background-image: url("resources/stars5.gif");
    background-repeat: repeat;*/
}

.info-text {
    font-family: dot, serif;
    font-size: 18px;
    color: white;
    padding: 15px;
    text-align: justify;
}


.info-section {
    /*padding: 0 15px;*/
}
/* A media query for a large screen */
@media (min-width: 1170px) {
    .container {
        max-width: 1000px;
    }
}

div.vv17ch {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 120px;
    margin:auto;
}
.vv17chImg {
    display: block;
    width: 100px;
    height: 100px;
    margin:auto;
}
.vv17chCaption {
    display: block;
    color: white;
    margin:auto;
}

.vv17chContainer {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.music-container {
    display: flex;
}

.info-container{
    background: black;
    margin: 50px 0px;
    box-shadow: 0 0 20px black;
}

.head-container{
    background-image: url("resources/smoke.gif");
    background-repeat: repeat;
    box-shadow: 0 0 20px black;
}

.header-section{
}

a:hover{
    color: #8a0303;
}