:root{
    --box-header-color: #005954;
    --box-header-text-color: #ffffff;
    --box-background: #dad7cd;
    --box-text-color: #132a13;
    --main-background: url("common/images/backgrounds/main-background.png");
    --witch-main-background: url("common//images/backgrounds/nurple-static-bright.gif");
}

body {
    margin: 0;
}

@font-face {
    font-family: "deadwax-font";
    src: local("deadwax-font"),
    url("common/fonts/deadwax-font/DeadwaxDemoRegular-L3Y4E.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "evil-sound-font";
    src: local("evil-sound-font"),
    url("common/fonts/evil-sound-font/EvilSound-nRM8M.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: dot;
    src: url("common/fonts/DotGothic16-Regular.ttf");
}
@font-face {
    font-family: infer;
    src: url("common/fonts/Infernalda.ttf");
}
@font-face {
    font-family: homicide;
    src: url("common/fonts/DoubleHomicide.ttf");
}
@font-face {
    font-family: LCD5;
    src: url("common/fonts/LCD5x8HRU.ttf");
}
@font-face {
    font-family: Abbadon;
    src: url("common/fonts/Abaddon.ttf");
}
@font-face {
    font-family: Better VCR;
    src: url("common/fonts/Better\ VCR\ 6.1.ttf");
}
/*
@font-face {
  font-family: homicide;
  src: url(https://dl.dropbox.com/s/yxh8rrh3atj26np/DoubleHomicide.ttf);
}*/
