.bands {
  background-image: url("../emo-main-page/images/background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  font-size: 13px;
  min-height: 100vh;
  min-width: 1000px;
  color: #cccccc;
  font-family: "Comic Sans MS", serif;
}

.bob-tilton {
  background: linear-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)), url("../resources/backgrounds/779178s6a463k6o1.jpg")
}

.everyone-asked {
  background: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url("../emo-bands/everyone-asked-about-you/images/Lets\ Be\ Enemies.jpg")
}

.thirty-days {
  background: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url("../emo-bands/30-dnej-fevralya/images/Твоя\ сестра\ Саши.jpg")
}

.sixsebya {
  background: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url("../resources/backgrounds/1583992inyi70a6gb.jpg")
}

.i-hate-myself {
  background: linear-gradient(rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0)), url("../resources/backgrounds/back_band.jpeg")
}

.old-gray {
  background: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url("../emo-bands/old-gray/images/Do\ I\ Dare\ Disturb\ the\ Universe.jpg")
}

.love-lost {
  background: linear-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)), url("../resources/backgrounds/2752313io931rxucw.gif")
}

.daitro {
  background: linear-gradient(rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)), url("../emo-bands/daitro/images/Des\ Cendres\,\ Je\ Me\ Consume.jpg")
}

.strictly-ballroom {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url("../emo-bands/strictly-ballroom/images/strictly7.webp")
}

.kashtanka {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/kashtanka/images/Прощай\ Вернись.jpg")
}

.eora {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/eora/images/У​т​е​ш​е​н​и​е.jpg")
}

.botanichesky-sad {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/botanichesky-sad/images/с​е​г​о​д​н​я\ п​р​о​с​т​о\ не\ м​о​й\ д​е​н​ь.jpg")
}

.americ-anfootball {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url("../emo-bands/americ-anfootball/images/americ.jpg")
}

.asthenia {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url("../resources/backgrounds/2426316p984fo4s5o.gif")
}

.rabbit-theory {
  background: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url("../resources/backgrounds/3548013ux04r3ehsj.gif")
}

.camping-in-alaska {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/camping-in-alaska/images/camping6.jpg")
}

.sleeping-for-sunrise {
  background: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url("../resources/backgrounds/brat.jpg")
}

.neil-perry {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/neil-perry/images/Lineage\ Situation.jpg")
}

.orchid {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/orchid/images/Pig\ Destroyer.jpg")
}

.etoemo {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/eto/images/Окна.jpg")
}

.cerulean {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/cerulean/images/BlueprintPilots\ In\ Paris.jpg")
}

.merchant-ships {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/merchant-ships/images/Shipsography\ \(2010\).png")
}

.oakwood {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/oakwood/images/Oakwood.jpg")
}

.bird-bone {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/bird-bone/images/Тени.jpg")
}

.i-have-dreams {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/i-have-dreams/images/Three\ Days\ Til\ Christmas.png")
}

.you-and-i {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/you-and-i/images/4.webp")
}

.septemberistheonlytimeidontthinkofyou {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/septemberistheonlytimeidontthinkofyou/images/1.webp")
}

.seahorsechoke {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/seahorsechoke/images/1.jpg")
}

.imyaneproiznosimo {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/imyaneproiznosimo/images/внутри\ себя\ я\ рву\ провода.jpg")
}

.algernon-cadwallader {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/algernon-cadwallader/images/Parrot\ Flies.jpg")
}

.i-hate-sex {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/i-hate-sex/images/Low\ Level.jpg")
}

.kolya {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/kolya/images/Iditarod.webp")
}

.mineral {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/mineral/images/The\ Complete\ Collection.jpg")
}

.la-dispute {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/la-dispute/images/Somewhere\ at\ the\ Bottom\ of\ the\ River\ Between\ Vega\ and\ Altair.jpg")
}

.yaphet-kotto {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/yaphet-kotto/images/5.webp")
}

.saetia {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/saetia/images/2.jpg")
}

.forfeit {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/forfeit/images/remains.jpg")
}

.sostoyanie-ptits {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/sostoyanie-ptits/images/Self-titled\ 2012.jpg")
}

.sunny-day-real-estate {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/sunny-day-real-estate/images/Diary.png")
}

.the-spirit-of-versailles {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/the-spirit-of-versailles/images/is\ dead.jpg")
}

.thursday {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("../emo-bands/thursday/images/War\ All\ the\ Time.png")
}


.bands-container {
  width: 1000px;
  margin: 0 auto;
}

.bands-data {
  background: #141414;
  border-style: groove;
  border-color: black;
  border-width: 3px;
  text-align: justify;
}

.bands-data h3 {
  font-family: "Arial Black", serif;
  text-decoration: underline;
}

.header {
  text-align: justify;
  background: #141414;
  border-style: groove;
  border-color: black;
  border-width: 3px;
  padding: 20px;
  color: #cccccc;
}

#head {
  font-family: "Arial Black", serif;
  font-size: 25px;
  color: #FCF97AFF;
}

.albumList {
  display: flex;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

.image-gallery-bands {
  width: 500px;
  margin: 20px auto;
}

.albumList:hover {
  transform: scale(1.01);
}

.Parent {
  display: flex;
  flex-direction: row;
}

.child1 {
  width: 50%;
}

.child2 {
  width: 50%;
  padding: 20px;
}

@media (max-width: 1000px) {
  .image-gallery-bands {
    width: 400px;
    margin: 40px auto;
  }
}