.table{
    font-family: Georgia, serif;
    font-size: 11px;
    width: 200px
}

/*Заголовок*/
.tdUp{
    text-align: left;
    background: #FFFFFF;
    width: 200px;
    vertical-align: top;
    font-family: Verdana, serif;
    color: #000000;
}
/*Обычные ячейки*/
.tdLow {
    text-align: left;
    background: #333333;
    width: 200px;
    vertical-align: top;
    font-family: Verdana, serif;
    color: #000000;
}
.text-under-table{
    color: #FFFFFF;
    font-size: 15px;
    width: 200px;
    font-family: dot;
}

.image-container img {
    width: 200px;
    height: 60px;
}

@media (max-width: 1400px) {
    /* .table-view{
        position: relative;
    } */
    .table{
        width: 250px;
        margin:0 auto;
        text-align: center;
        top: 0px;
        left: 0;
        bottom: 0;
        right: 0;
    }
    div>table {
        margin-bottom: 5%;
        font-size: 13px;
    }
    /*Заголовок*/
    .tdUp{
        width: 250px;
    }
    /*Обычные ячейки*/
    .tdLow {
        width: 250px;
    }
    .image-container img {
        width: 250px;
        height: 75px;
    }
}